\#*
*.swp
*.coverage
*.pyc
/json/
/not_mine/
scripts/ssh_add_github_repo
*.egg-info
/test/*.sam
/test/*.part
/test/testdat/
/test/sandbox/
bin/fmbiopy
*.fai
*.bt2
*.cache
*.python-version
pipeline.log
.mypy_cache
Makefile
